html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}
:root {
  --primaty-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  background-color: #ffffff;
  color: var(--primaty-text-color);
  font-family: Roboto, serif;
}
body .list-rule {
  list-style: none;
}
body .link,
a {
  text-decoration: none;
}
/* утилиты */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px  solid tomato; */
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.title {
  margin: 0px;
  padding: 0px;
}
.button {
  cursor: pointer;
}
.no-padding {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: auto;
}
.title-margin {
  margin-bottom: 50px;
}
/* header-css */
.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-color);
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo span {
  color: var(--primaty-text-color);
}
.hed {
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-right: 0px;
  border-top: 1px solid var(--secondary-white-color);
}
.nav {
  display: flex;
}
.site-nav {
  display: flex;
  margin-left: 80px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link,
.link-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primaty-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}
.site-nav .link.current::after {
  position: absolute;
  content: '';
  height: 4px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: currentColor;
  border-radius: 2px;
}
.item-link .link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus,
.item-link .link:hover,
.item-link .link:focus {
  color: var(--accent-color);
}
.link-nav > .link {
  display: inline-block;
}
.link-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.link-nav .item-link + .item-link {
  margin-left: 30px;
}
/* --secondary-text-color  */
.nav-icon {
  display: inline-block;
  margin-right: 10px;

  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover > .nav-icon,
.link:focus > .nav-icon {
  fill: currentcolor;
}
/* footer css */
.footer {
  background-color: #2f303a;
  padding-top: 48px;
}
.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.foorter-title {
  display: none;
}
.footer-logo {
  display: block;
  margin-bottom: 10px;
  color: var(--accent-color);
  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.footer-logo-span {
  color: var(--white-text-color);
}
.footer-social {
  display: flex;
  padding-top: 21px;
  padding-bottom: 56px;
}
.footer-social__item {
  display: flex;
  margin-right: 10px;
}
.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 10%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:last-child {
  margin-right: 0px;
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}
.footer-social-icon {
  display: inline-block;
  fill: var(--white-text-color);
}
.contacts a {
  display: inline-block;
  font-style: normal;
}
.contacts .address {
  display: block;
  margin-bottom: 10px;
  color: var(--white-text-color);
}
.contacts > address {
  padding-bottom: 28px;
}
.mail {
  display: block;
  margin-bottom: 10px;
}
.contacts .link {
  display: block;
  color: var(--secondary-white-color);
}
.connect {
  display: flex;
  flex-direction: column;
}
/* css для формі подписки */
.subscribe > .forma {
  display: flex;
  flex-direction: column;
  margin-left: 102px;
}
.subscribe.forma > b {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.forma-field {
  display: flex;
  margin-top: 12px;
}
.input-forma {
  margin-right: 12px;
  display: flex;
}
.input-button {
  display: flex;
}
.input-forma--inner {
  padding: 18px 12px;
  width: 358px;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  color: var(--secondary-white-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
}
.input-button--submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  box-sizing: border-box;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 900;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.plane {
  fill: #ffffff;
  background-color: var(--accent-color);
  margin-left: 10px;
}

.subscribe {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}
